{{> topOfPage }}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ htmlLang }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ htmlLang }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>{{ pageTitle }}</title>

    <!--[if gt IE 8]><!--><link href="{{{ assetPath }}}stylesheets/govuk-template.css?0.19.1" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie6.css?0.19.1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie7.css?0.19.1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/govuk-template-ie8.css?0.19.1" media="screen" rel="stylesheet" /><![endif]-->
    <link href="{{{ assetPath }}}stylesheets/govuk-template-print.css?0.19.1" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="{{{ assetPath }}}stylesheets/fonts-ie8.css?0.19.1" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="{{{ assetPath }}}stylesheets/fonts.css?0.19.1" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="{{{ assetPath }}}javascripts/ie.js?0.19.1"></script><![endif]-->

    <link rel="shortcut icon" href="{{{ assetPath }}}images/favicon.ico?0.19.1" type="image/x-icon" />
    <link rel="mask-icon" href="{{{ assetPath }}}images/gov.uk_logotype_crown.svg?0.19.1" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{{ assetPath }}}images/apple-touch-icon-152x152.png?0.19.1">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{{ assetPath }}}images/apple-touch-icon-120x120.png?0.19.1">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{{ assetPath }}}images/apple-touch-icon-76x76.png?0.19.1">
    <link rel="apple-touch-icon-precomposed" href="{{{ assetPath }}}images/apple-touch-icon-60x60.png?0.19.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{{ assetPath }}}images/opengraph-image.png?0.19.1">

    {{> head }}
  </head>
<body>
 <div class="worldpay-wrapper">

{{{content}}}

 </div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- <script>
$( document ).ready(function() {
	//hide start again
	$('span').find('b:contains("Start again")').closest('nobr').css( "display", "none" );
	//link cancel text
	var cancelLink = $('span').find('b:contains("Cancel")').closest('nobr').find('a').attr('href');
	//hide cancel text
	$('span').find('b:contains("Cancel")').css( "display", "none" );
	//hide cancel image
	$('span').find('b:contains("Cancel")').closest('nobr').find('img').css( "display", "none" );
	//attach cancel link
	$('label[for="op-PMMakePayment"]').after('<a href="'+cancelLink+'" class="cancelLink">Cancel</a>');
	$('label[for="op-PMMakePayment"]').attr('class', 'makePayment');
	//remove fax field and label
	$('#fax').closest('tr').remove();
	//remove region field and label
	$('#region').closest('tr').remove();
	//remove phone field and label
	$('#tel').closest('tr').remove();
	//remove email field and label
	$('#email').closest('tr').remove();
	//revove * Indicates a required field
	$('td').find('em:contains("Indicates a required field")').closest('td').css( "display", "none" );
	//remove asterix
	var findAsterix = $('span,label');
	for (var i = 0; i < findAsterix.length; ++i) {
	  findAsterix[i].innerHTML = findAsterix[i].innerHTML.replace(/\*?/g,'');
	}
	var findSpace = $('span');
	for (var j = 0; j < findSpace.length; ++j) {
	  findSpace[j].innerHTML = findSpace[j].innerHTML.replace(/\&nbsp;/g,'');
	}
	//create validation jump links
	function vaidationLinks(string, id, field){
		var element = $('ul').find('li:contains("'+string+'")');
		if(element.length != 0 ){
			element.wrapInner('<a href="#'+id+'" class="jumplink"></a>');
			$('#'+field+'').css('border', 'solid 1px red');
			$('body .width190 label[for="'+field+'"] span').css('color', 'red');
			$('input#'+field).closest('td').prepend('<span id="'+id+'" class="anchor"></span>');
		}
	}
	//init jump links
	vaidationLinks('card number', 'card', 'cardNoInput');
	vaidationLinks('security code', 'security', 'cardCVV');
	vaidationLinks('cardholder name', 'cardname', 'name');
	vaidationLinks('address 1', 'address_1', 'address1');
	vaidationLinks('town/city', 'towncity', 'town');
	vaidationLinks('postcode', 'post_code', 'postcode');
	//card expiry
	var selectExpiry = $('ul').find('li:contains("expiry date")');
	if(selectExpiry.length != 0 ){
		selectExpiry.wrap('<a href="#expiry" class="jumplink"></a>');
		$('[name="cardExp.day"], [name="cardExp.month"], [name="cardExp.year"]').css('border', 'solid 1px red');
		$('td').find('span:contains("Expiry date")').css('color', 'red');
		$('select[name="cardExp.month"]').closest('td').prepend('<span id="expiry" class="anchor"></span>');
	}
	//country
	var selectCountry = $('ul').find('li:contains("country")');
	if(selectCountry.length != 0 ){
		selectCountry.wrap('<a href="#countrySelect" class="jumplink"></a>');
		$('[name="country"]').css('border', 'solid 1px red');
		$('td').find('span:contains("Country")').css('color', 'red');
		$('select[name="country"]').closest('td').prepend('<span id="countrySelect" class="anchor"></span>');
	}
	//smooth scroll
	$('a[href*=#]:not([href=#])').click(function() {
		if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
		  var target = $(this.hash);
		  target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
		  if (target.length) {
		    $('html,body').animate({
		      scrollTop: target.offset().top
		    }, 800);
		    return false;
		  }
		}
	});
	//on window resize detect mobile and add class
	function resize(){
		if ( $(document).width() > 772){
		$('body').removeClass('mobile');
			$('body .two.width190').css('display','block');
			$('body .paymentDetailsL').css('display','block');
		} else{
			$('body').addClass('mobile');
			$('body .two.width190').css('display','none');
			$('body .paymentDetailsL').css('display','none');
		}
	}
	resize();
	$(window).on('resize ready', function(){
		resize();
	});

	//clone label
	$('label').each(function () {
		$(this).clone().insertBefore($(this).closest('tr').find('input[type="text"]')).addClass('topLabel');
	});
	//clone Country, Expiry date
	$('td.width190').find('span:contains("Country")').clone().insertBefore($('span:contains("Country")').closest('tr').find('select[name="country"]')).addClass('topLabel countryLabel');
	$('td.width190').find('span:contains("Expiry date")').clone().insertBefore($('span:contains("Expiry date")').closest('tr').find('select[name="cardExp.month"]')).addClass('topLabel expiryLabel');
	//add paymentDetails classes
	$('.one.width190').find('span:contains("Payment reference")').closest('tr').find('td:first').addClass('paymentDetailsL').next('td').addClass('paymentDetailsR').after( '<td colspan="2" rowspan="4" align="right" valign="top" class="one paymentDetailsCard" style="vertical-align: bottom;"></td>' );
	$('.one.width190').find('span:contains("Payment method")').closest('tr').find('td:first').addClass('paymentDetailsL').next('td').addClass('paymentDetailsR');
	$('.one.width190').find('span:contains("Description")').closest('tr').find('td:first').addClass('paymentDetailsL').next('td').addClass('paymentDetailsR');
	$('.one.width190').find('span:contains("Amount")').closest('tr').find('td:first').addClass('paymentDetailsL').next('td').addClass('paymentDetailsR');
	//add labels on top of inuts
	$('.one.width190').find('span:contains("Payment reference")').clone().insertBefore($('span:contains("Payment reference")').closest('tr').find('b')).addClass('topLabel');
	$('.one.width190').find('span:contains("Payment method")').clone().insertBefore($('span:contains("Payment method")').closest('tr').find('b')).addClass('topLabel');
	$('.one.width190').find('span:contains("Description")').clone().insertBefore($('span:contains("Description")').closest('tr').find('b')).addClass('topLabel');
	$('.one.width190').find('span:contains("Amount")').clone().insertBefore($('span:contains("Amount")').closest('tr').find('b')).addClass('topLabel');
	//add a class to control paymentDetails
	$('.one.width190').find('span:contains("Payment reference")').closest('table').addClass('paymentDetailsTable');
	//add for mobile
	$('head').append('<meta name="viewport" content="width=device-width, initial-scale=1">');
	//add optional
	$('label[for="address2"] span').text('Address 2 (optional)');
	$('label[for="address3"] span').text('Address 3 (optional)');
	//get card image and add to cell
	$('.paymentDetailsCard').html($('.paymentDetailsTable td[rowspan=3] img'));
	//remove original card
	$('.paymentDetailsTable td[rowspan=3]').remove();
});

</script> -->
