/* basic styles */
body{
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
body .container{
	width: 768px;
}
body .two table{
	width: 100%;
}
table{

}
td.headerlogo2{

}
body td.one{
	vertical-align: middle;
}
body td.one td.two{
	padding: .4em 0;
	padding-left: 10px;
}
td.three{
	padding: .8em 0;
}
td.three h2{
	font-size: 1.4em;
	margin-left: 10px;
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
body td.width190{
	width: auto;
	/*padding: .4em 0;*/
}
body td.one.width190.paymentDetailsL{
	width: 38%;
}
@-moz-document url-prefix() {
  body td.one.width190.paymentDetailsL{
     width: 240px;
  }
}
body .title h1{
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1.2em;
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
body td.one td.one a{
	display: none;
}

body td.two a.twoinstr{
	display: inline-block;
}
body td.two td.two nobr span,
body td.one td.two td.two span{
	/*display: none;*/
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
body td.two td.two nobr span em,
body td.one td.two td.two span em{
	font-size: .8em !important;
}
body td.one table .one span{
	/*font-weight: bold; */
}
body td.one td.two td.two.width190 span{
	display: inline-block;
}
table td span,
table td input,
table td select{
	font-size: 1.1em !important;
}
body td.two.width190 label span{
	font-size: 1em !important;
}
table td input{
	padding: .3em;
}
body label,
body .width190 span{
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
	font-size: 1.2em !important;
	color: #002469;
	line-height: 2em;
}
body nobr span{
/*	background-color: green;*/
}

table td select{
	 -webkit-appearance: menulist;
	box-sizing: border-box;
	align-items: center;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	color: black;
	background-color: white;
	cursor: default;
	margin: 0em;
	font-size: 2em;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
}

.table3{
	*width: auto; /* IE7 and below */
}

/* payment button */
label.makePayment{
	border-radius: 10px;
	background-color: #002469;
	margin-left: 263px;
	padding: 10px;
	float: left;
	*display: inline-block;/* IE7 and below */
}

label.makePayment b{
	margin-right: 10px;
}

label.makePayment span{
	color: #fff !important;
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
	display: inline-block;
	margin-left: 40px;
	*border: solid 1px #002469;/* IE7 and below */
	*display: inline-block;/* IE7 and below */

}
label.makePayment:hover{
	cursor: pointer;
	cursor: hand;
	background-color: #333;
}

label.makePayment:hover b{
	color: #fff;
}
label.makePayment input{
	display: inline-block;
	position: absolute;
	margin-left: -200px;
	margin-top: -2px;
	margin-top: 2px\9; /* IE8 and below */

}

*+html label.makePayment input{
	margin-left: -260px;/* IE7 and below */
}
/* IE8 uses \0 */
@media all\0 {
 	label.makePayment input{
		margin-left: -260px;
	}
}

#required{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}
.cancelLink{
	color: #002469;
	margin-top: 20px;
	display: inline-block;
}
#print_buttons{
	display: none;
}
#print_buttons td{
	background-color: #FFF;
}
#print_buttons h3{
	margin-bottom: 10px;
}
#print_buttons td em,
.brand span,
.footer span{
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
	font-style: normal;
	color: black;
}

#print_buttons td em a,
a.brand{
	color: #002469;
}


body hr{
	color: #DDD;
	background-color: #DDD;
	height: 1px;
	border-style: none;
	margin: 2em 0;
}
/* input size */
input#cardNoInput,
input#name,
input#address1,
input#address2,
input#address3,
input#town,
input#tel,
input#email{
	width: 20em;
	width: 18em\9; /* IE8 and below */
}
select[name="country"]{
	margin-top: .4em;
}
.anchor{
	position: relative;
	top:-20px;
	display: block;
	height: 0;
	width:0;
}
a.jumplink,
a.jumplink:visited,
a.jumplink:active{
	color: red;
}
a.jumplink:hover{
	color:  rgb(168, 0, 0) !important;
}
.containercell ul{
	display: inline-block;
}
.containercell ul li{
	margin: 4px 0;
}
.topLabel{
    display: none;
	font-size: 1.1em !important;
}
.expiryLabel{
	margin-bottom: 4px;
}
.paymentDetailsL{
	display: block;
	/*width:39% !important;*/
}
.paymentDetailsR{
	width:100%;
}
.paymentDetailsTable{
	padding: 20px;
}

body .paymentDetailsTable .topLabel{
	font-size: 19px !important;
	margin-bottom:10px;
}

body .paymentDetailsTable .width190 span{
	line-height: 1.6em;
}
body .paymentDetailsTable td{
	padding-bottom: 0px;
}
body .paymentDetailsTable .width190 span .topLabel{
	margin-bottom: 0;
}
body .twoinstr span{
	text-decoration: underline;
}
body ul li,
body .paymentDetailsTable span b,
body .error span{
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
/* mobile */
body.mobile .two.width190{
	/*display:none;*/
}
body.mobile .two.width190,
body.mobile .two,
body.mobile .two table,
body.mobile .container,
body.mobile input#cardNoInput,
body.mobile input#name,
body.mobile input#address1,
body.mobile input#address2,
body.mobile input#address3,
body.mobile input#town,
body.mobile input#tel,
body.mobile input#email{
	width: 100%;
	width: 98%\9; /* IE8 and below */
}
body.mobile input[type=text],
body.mobile select[name=country]{
		max-width: 100% !important;
		width: 100%;
}
body.mobile  td.one td.two{
	padding-right: 10px;
}
body.mobile label.makePayment{
	margin-left: 10px;
}
body.mobile .cancelLink{
	margin-right: 20px;
}
body.mobile .topLabel{
	display: block;
}
body.mobile .paymentDetailsL{
	display: none;
}

body.mobile .paymentDetailsTable td,
body.mobile .paymentDetailsTable td span{
	width: 100%;
	font-family: Arial,Helvetica,Verdana,Geneva,Sans-Serif !important;
}
body.mobile  .containercell h1{
	font-size: 1.2em;
	padding: 0 20px;
}
body.mobile  td.three h2{
	font-size: .8em;
}
body.mobile  table td.brand span,
body.mobile  table td.footer span{
	font-size: .6em !important;
}
body.mobile  #print_buttons span em a{
	font-size: 16px !important;
}

// .slick-slider {
//     position: relative;
//     display: block;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-touch-callout: none;
//     -khtml-user-select: none;
//     -ms-touch-action: pan-y;
//     touch-action: pan-y;
//     -webkit-tap-highlight-color: transparent
// }
// .slick-list {
//     position: relative;
//     display: block;
//     overflow: hidden;
//     margin: 0;
//     padding: 0
// }
// .slick-list:focus {
//     outline: 0
// }
// .slick-list.dragging {
//     cursor: pointer;
//     cursor: hand
// }
// .slick-slider .slick-track,
// .slick-slider .slick-list {
//     -webkit-transform: translate3d(0, 0, 0);
//     -moz-transform: translate3d(0, 0, 0);
//     -ms-transform: translate3d(0, 0, 0);
//     -o-transform: translate3d(0, 0, 0);
//     transform: translate3d(0, 0, 0)
// }
// .slick-track {
//     position: relative;
//     top: 0;
//     left: 0;
//     display: block
// }
// .slick-track:before,
// .slick-track:after {
//     display: table;
//     content: ''
// }
// .slick-track:after {
//     clear: both
// }
// .slick-loading .slick-track {
//     visibility: hidden
// }
// .slick-slide {
//     display: none;
//     float: left;
//     height: 100%;
//     min-height: 1px
// }
// [dir='rtl'] .slick-slide {
//     float: right
// }
// .slick-slide img {
//     display: block
// }
// .slick-slide.slick-loading img {
//     display: none
// }
// .slick-slide.dragging img {
//     pointer-events: none
// }
// .slick-initialized .slick-slide {
//     display: block
// }
// .slick-loading .slick-slide {
//     visibility: hidden
// }
// .slick-vertical .slick-slide {
//     display: block;
//     height: auto;
//     border: 1px solid transparent
// }
// .slick-arrow.slick-hidden {
//     display: none
// }
// /*! normalize.css v2.1.0 | MIT License | git.io/normalize */
//
// article,
// aside,
// details,
// figcaption,
// figure,
// footer,
// header,
// main,
// nav,
// section,
// summary {
//     display: block
// }
// audio,
// canvas,
// video {
//     display: inline-block
// }
// audio:not([controls]) {
//     display: none;
//     height: 0
// }
// html {
//     font-family: Arial, Helvetica, sans-serif;
//     -webkit-text-size-adjust: 100%;
//     -ms-text-size-adjust: 100%;
//     font-size: 15px;
//     word-wrap: break-word
// }
// body {
//     margin: 0
// }
// a:focus {
//     outline: thin dotted
// }
// a:active,
// a:hover,
// a:focus {
//     outline: 0
// }
// .righty {
//     float: right
// }
// .lefty {
//     float: left
// }
// h1 {
//     margin: .67em 0
// }
// abbr[title] {
//     border-bottom: 1px dotted
// }
// b,
// strong {
//     font-weight: bold
// }
// .normalfont {
//     font-weight: normal
// }
// dfn {
//     font-style: italic
// }
// hr {
//     -webkit-box-sizing: content-box;
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
//     height: 0
// }
// mark {
//     background: #ff0;
//     color: #000
// }
// code,
// kbd,
// pre,
// samp {
//     font-family: monospace, serif;
//     font-size: 1em
// }
// pre {
//     white-space: pre-wrap
// }
// q {
//     quotes: "\201C" "\201D" "\2018" "\2019"
// }
// small {
//     font-size: .8em
// }
// sub,
// sup {
//     font-size: .75em;
//     line-height: 0;
//     position: relative;
//     vertical-align: baseline
// }
// sup {
//     top: -0.5em
// }
// sub {
//     bottom: -0.25em
// }
// img {
//     border: 0
// }
// svg:not(:root) {
//     overflow: hidden
// }
// figure {
//     margin: 0
// }
// fieldset {
//     border: 1px solid #c0c0c0;
//     margin: 0 2px;
//     padding: .35em .625em .75em
// }
// legend {
//     border: 0;
//     padding: 0
// }
// button,
// input,
// select,
// textarea {
//     font-family: inherit;
//     font-size: 100%;
//     margin: 0
// }
// button,
// input {
//     line-height: normal
// }
// button,
// select {
//     text-transform: none
// }
// input[type="reset"],
// input[type="submit"] {
//     -moz-appearance: button;
//     -webkit-appearance: button;
//     cursor: pointer
// }
// button,
// html input[type="button"] {
//     -moz-appearance: button;
//     -webkit-appearance: button;
//     cursor: pointer;
//     float: right;
//     margin-top: 5px
// }
// button[disabled],
// html input[disabled] {
//     cursor: default
// }
// input[type="checkbox"],
// input[type="radio"] {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     padding: 0
// }
// input[type="search"] {
//     -webkit-appearance: textfield;
//     -moz-appearance: textfield;
//     -moz-box-sizing: content-box;
//     -webkit-box-sizing: content-box;
//     box-sizing: content-box
// }
// button::-moz-focus-inner,
// input::-moz-focus-inner {
//     border: 0;
//     padding: 0
// }
// textarea {
//     overflow: auto;
//     vertical-align: top
// }
// table {
//     border-collapse: collapse;
//     border-spacing: 0
// }
// input,
// select,
// textarea {
//     color: #333
// }
// body {
//     line-height: 1.4
// }
// a {
//     color: #105ea0;
//     text-decoration: none
// }
// a:visited {
//     color: #105ea0
// }
// a:hover {
//     color: #002a6f
// }
// img {
//     vertical-align: middle;
//     max-width: 100%;
//     -ms-interpolation-mode: bicubic
// }
// fieldset {
//     border: 0;
//     margin: 0;
//     padding: 0
// }
// textarea {
//     resize: vertical
// }
// h1 {
//     font-size: 1em
// }
// h2 {
//     font-size: 1.2em
// }
// .security h4 {
//     font-size: 1.1em
// }
// .warning,
// .disclaimer {
//     font-size: .8em
// }
// .pin-help,
// .hint,
// .error-warning,
// .pm-nojs-2 .controls .pm-prev,
// .pm-nojs-2 .controls .pm-next,
// footer small,
// .bx-controls-direction a {
//     font-size: .75em
// }
// .right {
//     float: right
// }
// .left {
//     float: left
// }
// .wrapper {
//     max-width: 50em;
//     margin: 0 auto;
//     position: relative
// }
// .js .js-hide {
//     display: none;
//     visibility: hidden
// }
// .js-show {
//     display: none
// }
// .js .js-show {
//     display: block
// }
// .no-js .no-js-hide {
//     display: none;
//     visibility: hidden
// }
// .no-js .panelHide {
//     display: none;
//     visibility: hidden
// }
// header {
//     margin: 0;
//     color: #fff;
//     padding: 15px 15px
// }
// html {
//     margin-left: 0!important
// }
// header.clean {
//     background: none!important;
//     padding: 1em 1em 1.2em
// }
// .header.clean+#main .header h1,
// .header.clean+#main #main+div>footer,
// .header.clean+#main .header.clean {
//     background: none repeat scroll 0 0 transparent!important;
//     display: none!important
// }
// #main #main {
//     border: 0;
//     margin: 0;
//     padding: 0
// }
// .header h1 img {
//     min-height: 2.5em;
//     max-height: 7em
// }
// .warning,
// .disclaimer {
//     padding: 8px 10px;
//     background: #fffcd9;
//     margin: 0 0 5px 0;
//     border: 1px solid #ded996;
//     color: #898550
// }
// .disclaimer {
//     display: block;
//     font-weight: normal
// }
// body.sandbox {
//     background-image: url("../../../img/bgtestwatermark.png")!important
// }
// #dynamic-content .header,
// #dynamic-content footer {
//     display: none
// }
// #dynamic-content #main {
//     border: 0
// }
// #noPaymentMethodsMessageJs,
// #noPaymentMethodsMessageNoJs1 {
//     padding: 0 0 15px
// }
// #main {
//     padding: .4em .4em 0;
//     margin: 0
// }
// #main form {
//     padding: 0;
//     margin: 0
// }
// .box {
//     margin: 0 0 .4em 0;
//     padding: 1em;
//     position: relative
// }
// .box .box {
//     border: 0
// }
// .section-details-bottom {
//     margin-bottom: 1em
// }
// .payment-details .paymentMethods-thumbs [class *="icon-"] {
//     padding: 0;
//     text-indent: -6000px;
//     border: 1px solid #ddd;
//     overflow: hidden;
//     margin: 0 0 0 8px;
//     width: 49px;
//     height: 29px;
//     display: block;
//     float: right;
//     vertical-align: top;
//     border-radius: 4px
// }
// .payment-details .icon-visa {
//     background-position: 0 0
// }
// .countryAT .thumbnail-SOFORT-SSL .pm-thumb img {
//     width: 0;
//     height: 0;
//     padding: 31px 50px;
//     background: url("../../../img/logos/sofort-de_100x63.png") no-repeat
// }
// .countryDE .thumbnail-SOFORT-SSL .pm-thumb img {
//     width: 0;
//     height: 0;
//     padding: 31px 50px;
//     background: url("../../../img/logos/sofort-de_100x63.png") no-repeat
// }
// .countryCH .thumbnail-SOFORT_CH-SSL .pm-thumb img {
//     width: 0;
//     height: 0;
//     padding: 31px 50px;
//     background: url("../../../img/logos/sofort-de_100x63.png") no-repeat
// }
// label {
//     display: block;
//     font-weight: bold;
//     margin: 0 0 5px 0
// }
// label small {
//     font-weight: normal;
//     color: #595959
// }
// h2 label {
//     margin: 0
// }
// .hint {
//     padding: 5px 0 0 0;
//     clear: both;
//     color: #595959
// }
// .error-warning {
//     color: #d70500;
//     margin: 0 0 10px 0;
//     display: none
// }
// .error-message {
//     color: #d70500;
//     font-weight: bold
// }
// .security {
//     color: #595959;
//     margin: 10px 0 20px 0
// }
// .security h4 {
//     font-weight: bold;
//     color: #333;
//     margin: 0
// }
// .security p {
//     margin: 0
// }
// .failure h2,
// h2.cross {
//     color: #d70500
// }
// .payment-method-nojs {
//     margin: 0 0 15px 0
// }
// .pm-nojs-2 {
//     display: none;
//     position: relative;
//     margin: 0
// }
// .pm-nojs-2 .icons {
//     text-align: center;
//     margin: 0 0 5px 0
// }
// .pm-nojs-2 input[type=image] {
//     display: inline-block;
//     border: 1px solid #ddd;
//     border-radius: 5px;
//     margin: 0 5px 14px 5px;
//     vertical-align: top
// }
// .pm-nojs-2 input[type=image]:hover {
//     border-color: #ccc
// }
// .pm-nojs-2 .controls {
//     position: absolute;
//     bottom: -50px;
//     right: 0
// }
// .pm-menu .controls,
// .pm-dropdown .controls {
//     bottom: 17px
// }
// .mobile-expand {
//     display: none
// }
// .mobile-expand-link,
// .mobile-unexpand-link {
//     display: block;
//     margin-bottom: 10px
// }
// .mobile-expand-link:focus,
// .mobile-unexpand-link:focus {
//     outline: thin dotted;
//     width: 100%;
//     color: #002a6f
// }
// .footerSummary ul li {
//     word-wrap: break-word
// }
// .payment-details fieldset {
//     margin: 0
// }
// .payment-details fieldset.bottom {
//     margin: 5px 0 0
// }
// .payment-details fieldset.bottom a.button {
//     text-align: center
// }
// .payment-details fieldset.bottom.middle a {
//     margin: 0 0 10px 0
// }
// footer {
//     margin: 0 0 20px 0;
//     padding: 10px 10px 0 10px;
//     width: 100%;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     display: inline-block
// }
// footer small {
//     color: #1f3c73;
//     display: block;
//     margin: 0 0 5px 0
// }
// .nostyle {
//     padding: 0;
//     margin: 0;
//     border: 0
// }
// .nocallout {
//     -webkit-touch-callout: none
// }
// .pressed {
//     background-color: #000;
//     background-color: rgba(0, 0, 0, 0.7)
// }
// textarea[contenteditable] {
//     -webkit-appearance: none;
//     -moz-appearance: none
// }
// .gifhidden {
//     position: absolute;
//     left: -100%
// }
// .ir {
//     background-color: transparent;
//     background-repeat: no-repeat;
//     border: 0;
//     direction: ltr;
//     display: block;
//     overflow: hidden;
//     text-align: left;
//     text-indent: -999em
// }
// .ir br {
//     display: none
// }
// .hidden {
//     display: none!important;
//     visibility: hidden
// }
// .visuallyhidden {
//     border: 0;
//     clip: rect(0, 0, 0, 0);
//     height: 1px;
//     margin: -1px;
//     overflow: hidden;
//     padding: 0;
//     position: absolute;
//     width: 1px
// }
// .visuallyhidden.focusable:active,
// .visuallyhidden.focusable:focus {
//     clip: auto;
//     height: auto;
//     margin: 0;
//     overflow: visible;
//     position: static;
//     width: auto
// }
// .invisible {
//     visibility: hidden
// }
// .clearfix:before,
// .clearfix:after {
//     content: "";
//     display: table
// }
// .clearfix:after {
//     clear: both
// }
// select,
// input[type=text],
// input[type=number],
// input[type=email],
// input[type=tel] {
//     border-radius: 2px;
//     outline: 0
// }
// input[type=number]::-webkit-inner-spin-button,
// input[type=number]::-webkit-outer-spin-button {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     margin: 0
// }
// .payment-details .button[disabled],
// .payment-details .button[disabled="disabled"]:hover,
// .payment-details .button[disabled]:hover,
// .payment-details input[disabled],
// .payment-details select[disabled] {
//     cursor: default
// }
// .pm-dropdown input[type="button"],
// .pm-dropdown input.button {
//     display: block
// }
// input[type="text"][disabled],
// input[type="number"][disabled],
// input[type="email"][disabled],
// input[type="tel"][disabled],
// select[disabled] {
//     border: 1px #ccc solid!important;
//     box-shadow: none!important
// }
// .btn-make-payment {
//     padding-top: 12px;
//     padding-bottom: 12px
// }
// .js .btn-toggle-summary {
//     cursor: pointer
// }
// .js .btn-toggle-summary.toggle {
//     padding-bottom: 10px;
//     max-height: 33px
// }
// .warning {
//     border-radius: 3px
// }
// .security {
//     padding-left: 20px;
//     background-position: 0 -235px
// }
// .pm-btn-wrapper {
//     float: left;
//     min-height: 1px
// }
// .controls {
//     width: 100%
// }
// .bx-wrapper .bx-controls-direction {
//     position: absolute;
//     bottom: -45px;
//     right: 0
// }
// .bx-controls-direction a {
//     margin: 0 0 0 12px
// }
// span.message-validation,
// span.message-required {
//     display: none
// }
// :-moz-placeholder {
//     color: #595959
// }
// h2.no-line {
//     border-bottom: 0;
//     margin-bottom: 0;
//     padding-bottom: 15px
// }
// div.lightbox {
//     position: fixed;
//     z-index: 101;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%
// }
// .lb-content {
//     display: none
// }
// #pm-custom-back iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     borderStyle: none;
//     overflow: auto;
//     height: 100%;
//     width: 100%;
//     allowTransparency: true;
//     vspace: 0;
//     hspace: 0;
//     marginwidth: 0;
//     marginheight: 0;
//     frameBorder: 0;
//     id: jczFrame
// }
// .hide {
//     display: none
// }
// .noPrint.button {
//     display: block!important;
//     margin-top: 10px
// }
// .hiddenscreen {
//     background: none repeat scroll 0 0 #eee;
//     margin: 10px 0;
//     padding: 10px
// }
// .width-small {
//     max-width: 250px
// }
// .width-medium {
//     max-width: 350px
// }
// .width-large {
//     max-width: 450px
// }
// .center {
//     text-align: center
// }
// .center p,
// .center span,
// .center div,
// .center table,
// .center td {
//     text-align: center
// }
// .no-wrap {
//     word-wrap: normal
// }
// .wp-footer {
//     margin: 10px 0 0
// }
// .lightbox .box {
//     border-radius: .4em;
//     width: 25em;
//     margin: 0 0 0 -12.5em;
//     padding: 0 0 1.25em;
//     text-align: left;
//     padding: .31em;
//     max-width: 25em;
//     left: 50%;
//     z-index: 102;
//     position: fixed;
//     top: 20%
// }
// .lightbox .box-wrapper {
//     padding: .31em;
//     border-radius: .4em;
//     padding: .63em
// }
// .lightbox .box-wrapper input {
//     float: right;
//     margin-left: .63em
// }
// .summary {
//     padding: 1em
// }
// .summary ul {
//     list-style: none;
//     padding: 0;
//     margin: 0 0 .33em 0
// }
// .footerSummary {
//     margin-top: 1em
// }
// #dynamic-cancel-page,
// #dynamic-content.show-cancel {
//     display: none
// }
// #dynamic-cancel-page.show-cancel {
//     display: block
// }
// #dynamic-content #dynamic-cancel-page {
//     display: block
// }
// h1,
// h3,
// h4,
// h5 {
//     font-weight: normal;
//     margin: 0
// }
// h2 {
//     font-weight: bold;
//     color: #393939;
//     margin: 0;
//     padding: 0 0 10px 0
// }
// h2.no-validation {
//     padding-bottom: 18px
// }
// h2.no-padding {
//     padding: 0
// }
// h3 {
//     font-weight: bold;
//     color: #393939;
//     margin: 0 0 15px;
//     padding: 0 0 5px 0
// }
// p {
//     margin: 0 0 8px 0;
//     text-align: left
// }
// .tbl {
//     margin: 0 0 15px 0;
//     width: 100%;
//     word-wrap: break-word;
//     table-layout: fixed;
//     border-collapse: collapse
// }
// .tbl th,
// .tbl td {
//     padding: 5px 7px
// }
// .tbl th.col-1 {
//     text-align: left
// }
// #main #pm-dropdown {
//     width: 100%;
//     padding: 4px
// }
// @media only screen and (min-width: 480px) {
//     .row {
//         overflow: hidden
//     }
//     .row.pair p,
//     .row.pair .info,
//     .row.pair div.first {
//         float: left;
//         width: 48%
//     }
//     .row.pair .last,
//     .row.pair .info {
//         float: right
//     }
//     .row.pair .info p,
//     .row.pair div.first p {
//         float: none;
//         width: auto;
//         margin: 0 0 .66em 0;
//         text-align: left
//     }
// }
// @media only screen and (max-width: 450px) {
//     .row.pair div.first,
//     .row.pair div.info {
//         float: none;
//         width: 100%
//     }
// }
// .validation-container {
//     float: right;
//     width: 1em;
//     height: 2em;
//     line-height: 2em;
//     margin-right: 3.5em
// }
// .editContainer {
//     padding: 0
// }
// .editContainer .field-wrapper,
// .editContainer .inputContainer,
// .editContainer .inputContainer .edit-field {
//     float: none;
//     margin-bottom: .33em;
//     min-height: 0
// }
// .editContainer .inputContainer.error {
//     background: 0
// }
// .inputContainer {
//     padding-right: 0
// }
// .form-validation #combinedDetails .field-label .validity-indicator {
//     display: none
// }
// @media only screen and (min-width: 480px) {
//     .inputContainer {
//         width: 60%
//     }
//     .inputContainer input {
//         width: 100%
//     }
//     .editContainer .row.pair .field-wrapper {
//         width: 100%;
//         min-height: 0;
//         margin-bottom: 0
//     }
// }
// @media only screen and (min-width: 600px) {
//     .editContainer {
//         padding: 0
//     }
//     .editContainer .field-wrapper,
//     .editContainer .inputContainer,
//     .editContainer .inputContainer.edit-field {
//         float: right;
//         margin-bottom: .33em
//     }
//     .inputContainer {
//         padding-right: 1.6em;
//         margin-right: 3.33em
//     }
//     .editContainer .row.pair .field-wrapper label {
//         float: left;
//         background: 0;
//         padding-right: 0;
//         padding-top: .3em
//     }
//     .editContainer .inputContainer {
//         margin-right: .5em;
//         padding-right: 0
//     }
//     .no-js .editContainer .inputContainer {
//         padding-right: 1.6em
//     }
//     .no-js .editContainer .error-hint {
//         margin-right: 3.33em;
//         padding: 0 1.6em 0 0;
//         width: 60%
//     }
//     .no-js .editContainer .inputContainer {
//         margin-bottom: 0
//     }
// }
// @media only screen and (max-width: 600px) {
//     .validation-container {
//         display: none
//     }
// }
// .panelHideButton {
//     margin-left: .5em
// }
// .noEditIcon {
//     display: none
// }
// .panelRo {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     width: 100%
// }
// .panel {
//     border: 0;
//     position: relative;
//     padding: 0 0 .66em;
//     overflow: hidden
// }
// .panelEditButton {
//     margin-bottom: .66em
// }
// .panelTitle {
//     font-size: 1.2em;
//     font-weight: bold;
//     color: #393939;
//     margin: 0;
//     word-wrap: break-word;
//     position: relative;
//     padding: 0;
//     display: inline-block;
//     max-width: 80%
// }
// .panelTitleText {
//     padding-left: 0;
//     padding-right: .66em
// }
// .panel-icon-edit,
// .panel-icon-close {
//     position: absolute;
//     right: .1em;
//     top: .66em;
//     padding: 0;
//     font-size: .9em;
//     font-weight: normal;
//     cursor: pointer
// }
// .panel-icon-edit .icon,
// .panel-icon-close .icon {
//     vertical-align: middle
// }
// small.pin-help {
//     font-size: .84em
// }
// .pin-wrapper {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     padding-right: 50px
// }
// .pin-wrapper input {
//     width: 100%
// }
// .pin-help {
//     display: block;
//     max-width: 100%;
//     line-height: 1.3em;
//     margin: 0;
//     padding: 0
// }
// img.pin-default {
//     height: 1.86em;
//     position: absolute;
//     right: 0;
//     top: .15em
// }
// @media only screen and (min-width: 480px) {
//     .pin-wrapper {
//         width: 40%
//     }
//     .pin-wrapper {
//         padding: 0 50px 0 0;
//         float: left;
//         width: 55%;
//         -webkit-box-sizing: border-box;
//         -moz-box-sizing: border-box;
//         box-sizing: border-box;
//         position: relative
//     }
//     .pin-help {
//         width: 43%;
//         float: right;
//         padding: 0
//     }
// }
// @media only screen and (max-width: 480px) {
//     .securityCode .pin-wrapper,
//     .securityCode .pin-help {
//         float: left;
//         width: 48%;
//         position: relative
//     }
//     .securityCode .pin-help {
//         margin-left: 5px
//     }
// }
// @media only screen and (min-width: 740px) {
//     div .pin-wrapper input.pin {
//         width: 100%
//     }
// }
// .secure-3d {
//     display: table
// }
// .secure-3d .help,
// .secure-3d .iframe-container {
//     display: table-cell;
//     vertical-align: top
// }
// .secure-3d .help {
//     display: table-cell;
//     padding-left: .5em
// }
// .secure-3d .help.mobile-only-3ds {
//     display: none
// }
// .secure-3d .help .refresh-warning {
//     font-weight: bold;
//     font-size: 1.2em
// }
// .secure-3d .iframe-container iframe {
//     width: 400px;
//     height: 410px;
//     border: 1px solid #666;
//     background: #FFF;
//     overflow: scroll
// }
// .secure-3d .message {
//     margin-top: 2em
// }
// .secure-3d .submitButton {
//     padding: 1.3em 0
// }
// .no-js .pm-menu .pm-pager {
//     margin-top: 2.66em
// }
// .no-js .pm-pager {
//     text-align: center;
//     margin: 18px 0 17px
// }
// .pm-menu .pm-prev,
// .pm-menu .pm-next {
//     width: 2em;
//     height: 2em;
//     top: 7em;
//     line-height: 2em;
//     border: 0;
//     border-radius: 1.2em;
//     padding: 0!important;
//     position: absolute;
//     color: transparent;
//     outline: 0
// }
// .no-js .pm-menu .pm-prev,
// .no-js .pm-menu .pm-next {
//     top: 10em
// }
// .pm-menu .pm-prev .slick-disabled,
// .pm-menu .pm-next .slick-disabled,
// .pm-menu .pm-prev[disabled],
// .pm-menu .pm-next[disabled] {
//     opacity: .5;
//     border: 0
// }
// .pm-menu .pm-prev {
//     left: 0
// }
// .pm-menu .pm-next {
//     right: 0
// }
// .pm-menu span.icon-arrow-right,
// .pm-menu span.icon-arrow-left {
//     display: inline-block;
//     line-height: inherit
// }
// div.pm3 {
//     width: 24em;
//     overflow: hidden;
//     margin: auto;
//     display: none
// }
// div.pm4 {
//     width: 32em;
//     overflow: hidden;
//     margin: auto;
//     display: none
// }
// div.pm5 {
//     width: 40em;
//     overflow: hidden;
//     margin: auto;
//     display: none
// }
// div.pm6 {
//     width: 48em;
//     overflow: hidden;
//     margin: auto;
//     display: none
// }
// .no-js div.pm3,
// .no-js div.pm4,
// .no-js div.pm5,
// .no-js div.pm6 {
//     width: 100%
// }
// .pm-menu .controls,
// .pm-dropdown .controls {
//     margin-bottom: 0
// }
// .overflow {
//     position: relative;
//     overflow: hidden
// }
// .no-js .pm-menu ul {
//     padding: 0;
//     width: 3655%
// }
// .no-js .pm-menu ul li {
//     float: left;
//     margin-right: 14px;
//     list-style: none
// }
// .no-js .pm-menu ul.short {
//     width: auto;
//     text-align: center
// }
// .no-js .pm-menu ul.short li {
//     float: none;
//     display: inline-block;
//     height: 6.8em
// }
// .no-js .pm-menu ul.short li>a,
// .no-js .pm-menu ul.short li>form {
//     float: left
// }
// div.carousel {
//     position: relative;
//     left: 0
// }
// div.pm-text {
//     position: relative;
//     width: 6.6em;
//     text-indent: 0;
//     padding-top: .1em;
//     font-weight: bold;
//     text-align: center;
//     word-wrap: normal;
//     cursor: pointer
// }
// div.pm-text span {
//     font-size: .75em
// }
// .pm-nojs-2 a.pm-link {
//     cursor: pointer;
//     display: inline-block;
//     margin: 0 .33em 1em .3em;
//     vertical-align: top;
//     width: 103px;
//     height: 90px
// }
// .pm-nojs-2 div.pm-text {
//     text-indent: 0;
//     position: relative;
//     top: .5em;
//     font-weight: bold
// }
// .pm-thumb {
//     width: 6.66em;
//     margin: .13em;
//     text-align: center;
//     cursor: pointer
// }
// .pm-menu .pm-icon {
//     width: 100%;
//     border-radius: .25em;
//     margin: 0 auto;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box
// }
// .pm-menu {
//     display: none
// }
// .pm-menu .pm-select:hover .pm-text {
//     color: #007867;
//     font-weight: bold
// }
// .pm-menu .pm-icon:hover,
// .pm-menu .pm-select:hover .pm-icon {
//     border: .05em solid #007867
// }
// .slick-slider {
//     margin-bottom: 0
// }
// .pm-dots {
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     position: relative;
//     bottom: 2em
// }
// .no-js .pm-dots {
//     bottom: 1.25em
// }
// .pm-menu .pm-dots ul {
//     width: 100%
// }
// .pm-dots li {
//     margin: 0!important;
//     display: inline-block;
//     height: auto;
//     width: auto;
//     float: none!important
// }
// .pm-dots li button {
//     border: 0;
//     display: block;
//     margin: .33em;
//     padding: .3em;
//     text-indent: -6000em;
//     outline: 0
// }
// .pm-dots button {
//     background: #007867;
//     opacity: .5;
//     width: .8em;
//     height: .8em
// }
// .pm-dots .slick-active button,
// .pm-dots button.pm-dot-active {
//     opacity: 1.0
// }
// .slick-prev,
// .slick-next {
//     display: inline-block;
//     zoom: 1;
//     width: 2em;
//     height: 2em;
//     position: absolute;
//     bottom: 0;
//     top: auto;
//     margin: 0 0 .66em 0;
//     z-index: 2;
//     color: #FFF
// }
// .slick-prev {
//     left: .66em
// }
// .slick-next {
//     right: .66em
// }
// .slick-prev:hover,
// .slick-next:hover {
//     opacity: 1.0;
//     text-decoration: none
// }
// .slick-disabled,
// .slick-disabled:hover {
//     opacity: .5
// }
// .pm-carousel-item {
//     height: 9.33em
// }
// .pm_slide {
//     display: none;
//     margin: .1em
// }
// #dynamic-content .loading-box {
//     display: none
// }
// #dynamic-content .loading-box,
// #threeds-loading .loading-box {
//     text-align: center
// }
// #threeds-loading .loading-box {
//     border: 0
// }
// #dynamic-content .loading-box .retry-request,
// #threeds-loading .loading-box .retry-request {
//     display: none
// }
// #dynamic-content .loading-box .logo-powered-by,
// #threeds-loading .loading-box .logo-powered-by {
//     display: block;
//     margin: .5em auto 0;
//     width: 10em;
//     height: 3.5em
// }
// #dynamic-content .loading-box .loading-dots,
// #threeds-loading .loading-box .loading-dots {
//     position: relative;
//     width: 9em;
//     height: 2em;
//     margin: auto
// }
// #dynamic-content .loading-box .loading-dots div,
// #threeds-loading .loading-box .loading-dots div {
//     position: absolute;
//     width: 2em;
//     height: 2em;
//     opacity: .5;
//     animation-name: loading-transition;
//     -ms-animation-name: loading-transition;
//     -webkit-animation-name: loading-transition;
//     -moz-animation-name: loading-transition;
//     animation-duration: 1.5s;
//     -ms-animation-duration: 1.5s;
//     -webkit-animation-duration: 1.5s;
//     -moz-animation-duration: 1.5s;
//     animation-iteration-count: infinite;
//     -ms-animation-iteration-count: infinite;
//     -webkit-animation-iteration-count: infinite;
//     -moz-animation-iteration-count: infinite;
//     animation-direction: normal;
//     -ms-animation-direction: normal;
//     -webkit-animation-direction: normal;
//     -moz-animation-direction: normal
// }
// #dynamic-content .loading-box .loading-dots .dot-1,
// #threeds-loading .loading-box .loading-dots .dot-1 {
//     left: 0;
//     animation-delay: .6s;
//     -ms-animation-delay: .6s;
//     -webkit-animation-delay: .6s;
//     -moz-animation-delay: .6s
// }
// #dynamic-content .loading-box .loading-dots .dot-2,
// #threeds-loading .loading-box .loading-dots .dot-2 {
//     left: 1em;
//     animation-delay: .75s;
//     -ms-animation-delay: .75s;
//     -webkit-animation-delay: .75s;
//     -moz-animation-delay: .75s
// }
// #dynamic-content .loading-box .loading-dots .dot-3,
// #threeds-loading .loading-box .loading-dots .dot-3 {
//     left: 2em;
//     animation-delay: .9s;
//     -ms-animation-delay: .9s;
//     -webkit-animation-delay: .9s;
//     -moz-animation-delay: .9s
// }
// #dynamic-content .loading-box .loading-dots .dot-4,
// #threeds-loading .loading-box .loading-dots .dot-4 {
//     left: 3em;
//     animation-delay: 1.05s;
//     -ms-animation-delay: 1.05s;
//     -webkit-animation-delay: 1.05s;
//     -moz-animation-delay: 1.05s
// }
// #dynamic-content .loading-box .loading-dots .dot-5,
// #threeds-loading .loading-box .loading-dots .dot-5 {
//     left: 4em;
//     animation-delay: 1.2s;
//     -ms-animation-delay: 1.2s;
//     -webkit-animation-delay: 1.2s;
//     -moz-animation-delay: 1.2s
// }
// #dynamic-content .loading-box .loading-dots .dot-6,
// #threeds-loading .loading-box .loading-dots .dot-6 {
//     left: 5em;
//     animation-delay: 1.35s;
//     -ms-animation-delay: 1.35s;
//     -webkit-animation-delay: 1.35s;
//     -moz-animation-delay: 1.35s
// }
// #dynamic-content .loading-box .loading-dots .dot-7,
// #threeds-loading .loading-box .loading-dots .dot-7 {
//     left: 6em;
//     animation-delay: 1.5s;
//     -ms-animation-delay: 1.5s;
//     -webkit-animation-delay: 1.5s;
//     -moz-animation-delay: 1.5s
// }
// #dynamic-content .loading-box .loading-dots .dot-8,
// #threeds-loading .loading-box .loading-dots .dot-8 {
//     left: 7em;
//     animation-delay: 1.64s;
//     -ms-animation-delay: 1.64s;
//     -webkit-animation-delay: 1.64s;
//     -moz-animation-delay: 1.64s
// }
// #dynamic-content .loading-box.failure .retry-request {
//     display: block
// }
// #dynamic-content .loading-box.failure .info {
//     display: none
// }
// @keyframes loading-transition {
//     0% {
//         opacity: .5
//     }
//     100% {
//         opacity: .1
//     }
// }
// @-ms-keyframes loading-transition {
//     0% {
//         opacity: .5
//     }
//     100% {
//         opacity: .1
//     }
// }
// @-webkit-keyframes loading-transition {
//     0% {
//         opacity: .5
//     }
//     100% {
//         opacity: .1
//     }
// }
// @-moz-keyframes loading-transition {
//     0% {
//         opacity: .5
//     }
//     100% {
//         opacity: .1
//     }
// }
// #main .payment-details .note {
//     display: block;
//     font-weight: normal;
//     color: #595959;
//     padding: 0;
//     font-size: .7em
// }
// #main .payment-details .required-field {
//     font-style: normal
// }
// #main .payment-details small.error-hint {
//     display: block;
//     padding: 5px 0 0 0;
//     clear: both
// }
// #main #combinedDetails .error-hint {
//     padding: 0 24px 0 0
// }
// .form-validation select,
// .form-validation input[type=text],
// .form-validation input[type=number],
// .form-validation input[type=email],
// .form-validation input[type=tel] {
//     display: inline;
//     padding: .3em;
//     width: 100%;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -ms-box-sizing: border-box;
//     box-sizing: border-box
// }
// .form-validation select.small,
// .form-validation input[type=text].small,
// .form-validation input[type=number].small {
//     width: 48%
// }
// .form-validation .ok label {
//     position: relative;
//     border-bottom: 0;
//     width: auto;
//     display: table;
//     padding-right: 30px
// }
// .form-validation .error label {
//     position: relative;
//     border-bottom: 0;
//     width: auto;
//     display: table;
//     padding-right: 30px
// }
// .form-validation small.error-hint {
//     visibility: hidden
// }
// .form-validation .error small.error-hint {
//     visibility: visible
// }
// .summary table {
//     width: 100%
// }
// .summary td {
//     width: 100%;
//     word-wrap: break-word;
//     padding-bottom: .6em
// }
// .summary .field-label {
//     width: 35%;
//     text-align: left;
//     padding-bottom: .6em
// }
// .summary strong {
//     display: block;
//     padding: 0 10px 0 0
// }
// #sepaDetails .summary {
//     width: 100%
// }
// #sepaDetails .summary .field-label {
//     vertical-align: top
// }
// #sepaDeclaration #declarationControl {
//     vertical-align: top;
//     width: 10%
// }
// #sepaDeclaration #declarationLabel {
//     width: 3em
// }
// #main .payment-details .qiwi-cc,
// #main .payment-details .qiwi-id {
//     width: auto
// }
// .sepa-details li {
//     float: left;
//     width: 65%;
//     word-wrap: break-word
// }
// .sepa-details ul {
//     list-style: outside none none;
//     padding-left: 0
// }
// .sepa-details ul li:first-child {
//     width: 35%
// }
// #sepaDeclaration li {
//     float: left;
//     width: 90%;
//     word-wrap: break-word
// }
// #sepaDeclaration li:first-child {
//     text-align: center;
//     width: 10%
// }
// .sepaDDMandateHeader {
//     text-align: center
// }
// .sepa-details #mandateReference {
//     word-break: break-all
// }
// .currency-box .panelContainer {
//     display: table;
//     width: 100%;
//     margin: 1em auto;
//     max-width: 25em
// }
// .currency-box .panelContainer .panel,
// .currency-box .panelContainer .to {
//     display: table-cell;
//     list-style: none outside none;
//     vertical-align: middle;
//     padding-top: 1em;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box
// }
// #conversion .panelContainer .panel {
//     width: 10em;
//     padding: .4em
// }
// .currency-box .panelContainer .to {
//     vertical-align: middle;
//     color: #BBB
// }
// .currency-box .panelContainer .to .icon {
//     font-size: 1.6em;
//     line-height: 1.6em
// }
// .currency-box .panelContainer .boxy {
//     display: inline-block;
//     border: 1px solid #ccc;
//     padding: .4em;
//     vertical-align: top
// }
// .currency-box .panelContainer .boxy .row {
//     width: 100%;
//     font-size: 1.1em;
//     font-weight: bold;
//     line-height: 2em;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
//     padding: .4em;
//     margin: 0 0 .4em 0
// }
// .currency-box .panelContainer .boxy .row:last-child {
//     margin-bottom: 0
// }
// .currency-box .panelContainer .boxy .amount {
//     margin: 0
// }
// .currency-box .panelContainer .boxy .row img {
//     float: left
// }
// .currency-box .panelContainer .boxy .amount {
//     text-align: right
// }
// .currency-box .panelContainer .boxy:last-child {
//     margin-right: 0
// }
// .currency-box .panelContainer .boxy .panel {
//     width: 100%;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box
// }
// .currency-box #agreeButton {
//     float: right
// }
// .button {
//     display: inline-block;
//     font-weight: bold;
//     text-align: center;
//     cursor: pointer;
//     height: 1.4em;
//     line-height: 1.4em;
//     box-sizing: content-box;
//     padding: .4em .6em .4em
// }
// #klarnaConfirmButton {
//     overflow: auto
// }
// .button.btn-align-right {
//     padding-top: 12px;
//     padding-bottom: 12px;
//     float: right;
//     margin-bottom: .5em
// }
// @media only screen and (min-width: 480px) {
//     .button.btn-change-payment,
//     .button.btn-try-again {
//         margin: 0;
//         float: right
//     }
// }
// @media only screen and (max-width: 480px) {
//     .button {
//         display: inline-block;
//         width: 100%;
//         text-align: center;
//         float: none;
//         margin: .5em 0;
//         padding: .4em 0
//     }
//     .button.btn-change-payment {
//         margin-top: 0
//     }
//     .button.btn-change-payment .icon {
//         display: none
//     }
//     .button.btn-cancel {
//         margin-bottom: 0
//     }
// }
// .warning-message {
//     padding: 8px 10px;
//     margin: 0 0 5px 0;
//     text-align: center
// }
// #session-timeout.warning-message {
//     display: none
// }
// #session-timeout.warning-message .button {
//     float: none;
//     margin: 0 0 0 1em
// }
// @media only screen and (max-width: 480px) {
//     #session-timeout.warning-message .button {
//         margin: .5em 0 0 0
//     }
// }
// small.error-hint {
//     font-size: .84em
// }
// .error .error-hint {
//     visibility: visible
// }
// #main .country,
// #main .language {
//     z-index: 2
// }
// #main #language,
// #main #country {
//     width: 14em;
//     height: 2.2em;
//     padding: .25em
// }
// @media only screen and (min-width: 600px) {
//     .country,
//     .language {
//         position: absolute;
//         margin: -5px 0 0 0;
//         right: 25px;
//         top: 15px
//     }
//     .language {
//         display: block
//     }
//     .language p,
//     .country p {
//         margin: 0
//     }
//     .language fieldset,
//     .country fieldset {
//         display: inline
//     }
//     .language .button,
//     .country .button {
//         margin-left: 10px
//     }
// }
// @media only screen and (max-width: 600px) {
//     #main #language,
//     #main #country {
//         display: block;
//         width: 100%;
//         max-width: none
//     }
//     .language {
//         margin: 0
//     }
// }
// @media print {
//     .language,
//     .country {
//         display: none!important
//     }
// }
// .cancel-confirm .close {
//     position: absolute;
//     top: 1em;
//     right: 1em;
//     line-height: 1em;
//     padding: .4em;
//     cursor: pointer
// }
// @media only screen and (max-width: 480px) {
//     .cancel-confirm .close {
//         display: none
//     }
// }
// @font-face {
//     font-family: 'hpp-icons';
//     src: url('../../../fonts/hpp-icons/hpp-icons.eot?idbrji');
//     src: url('../../../fonts/hpp-icons/hpp-icons.eot?idbrji#iefix') format('embedded-opentype'), url('../../../fonts/hpp-icons/hpp-icons.ttf?idbrji') format('truetype'), url('../../../fonts/hpp-icons/hpp-icons.woff?idbrji') format('woff'), url('../../../fonts/hpp-icons/hpp-icons.svg?idbrji#hpp-icons') format('svg');
//     font-weight: normal;
//     font-style: normal
// }
// .icon {
//     font-family: 'hpp-icons'!important;
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1em;
//     letter-spacing: 0;
//     -webkit-font-feature-settings: "liga";
//     -moz-font-feature-settings: "liga=1";
//     -moz-font-feature-settings: "liga";
//     -ms-font-feature-settings: "liga" 1;
//     font-feature-settings: "liga";
//     -webkit-font-variant-ligatures: discretionary-ligatures;
//     font-variant-ligatures: discretionary-ligatures;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale
// }
// .icon-arrow-left:before {
//     content: "\f060"
// }
// .icon-arrow-right:before {
//     content: "\f061"
// }
// .to .icon-arrow-right:before {
//     content: "\f061"
// }
// .icon-tick:before,
// .icon-processed:before {
//     content: "\f00c"
// }
// .icon-expand:before {
//     content: "\f0dd"
// }
// .icon-collapse:before {
//     content: "\f0de"
// }
// .icon-loading:before {
//     content: "\e902"
// }
// .icon-expired:before {
//     content: "\f12a"
// }
// .icon-cross:before {
//     content: "\f00d"
// }
// .icon-black-cross:before {
//     content: "\f00d"
// }
// .icon-redo:before {
//     content: "\f0e2"
// }
// .icon-gear:before {
//     content: "\f013"
// }
// .icon-inbox-document:before {
//     content: "\e900"
// }
// .icon-cross-alt:before {
//     content: "\e901"
// }
// .icon-circle:before {
//     content: "\f111"
// }
// .icon-collapsible:before {
//     content: "\f107"
// }
// .toggle .icon-collapsible:before {
//     content: "\f105"
// }
// .paymentMethods-thumbs {
//     float: right;
//     max-width: 50%
// }
// .paymentMethods-thumbs .small-icon {
//     float: right;
//     width: 3.4em;
//     height: 2.2em;
//     margin-right: .33em;
//     margin-bottom: .33em;
//     border: 1px solid #ddd;
//     border-radius: .4em
// }
// #main .section-header:not(.expired) .icon {
//     font-size: .8em
// }
// .form-validation .validity-indicator {
//     margin-left: .7em
// }
// .form-validation .validity-indicator,
// .form-validation .validation-container .icon {
//     display: none
// }
// .form-validation .error .validity-indicator.invalid,
// .form-validation .ok .validity-indicator.valid,
// .form-validation .error .validation-container .icon {
//     display: inline-block
// }
// #print-modal {
//     background: none repeat scroll 0 0 #fff;
//     box-shadow: 0 0 20px #000;
//     left: 50%;
//     margin: 0 0 0 -444px;
//     padding: 0 68px;
//     position: absolute;
//     width: 100%;
//     max-width: 758px;
//     overflow-x: hidden;
//     -webkit-overflow-scrolling: touch
// }
// .mresponsive #print-modal {
//     width: 100%;
//     margin: 0;
//     left: 0;
//     padding: 0
// }
// #print-modal-content {
//     border: medium none;
//     height: 100%;
//     margin: 68px 0;
//     overflow: hidden;
//     width: 100%
// }
// #iframeBody .details {
//     margin: 0
// }
// #iframeBody .wrapper {
//     margin: 0 2%
// }
// #iframeBody .payment-details fieldset {
//     margin: 0 0 15px
// }
// #print-modal-controls {
//     background: none repeat scroll 0 0 rgba(250, 250, 250, 0.75);
//     border: 1px solid #ccc;
//     border-radius: 8px 8px 8px 8px;
//     left: 50%;
//     margin: 0 0 0 -81px;
//     position: fixed;
//     top: 15px;
//     font-size: 2.5em;
//     height: 1.16em;
//     text-align: center;
//     padding: .2em .5em
// }
// #print-modal-controls a {
//     display: inline-block;
//     color: #333;
//     height: 32px;
//     text-decoration: none
// }
// #print-modal-controls a:hover .icon {
//     opacity: .75
// }
// #print-modal-controls a:focus .icon {
//     border: solid 1px #105ea0;
//     border-radius: .2em
// }
// .ie7 #print-modal {
//     max-height: 1000px!important
// }
// .ie7 #print-modal-content {
//     max-height: 1000px
// }
// .ie7 #print-modal-mask {
//     height: 1200px!important
// }
// .iframeBody .smallIcons img {
//     float: right;
//     max-width: none
// }
// #iframeBody .mobile-expand {
//     display: block!important
// }
// #iframeBody .mobile-unexpand-link,
// #iframeBody .mobile-expand-link {
//     visibility: hidden;
//     height: 0;
//     margin: 0
// }
// #iframeBody #wpFooterPrint {
//     border: none!important
// }
// #iframeBody .details ul {
//     display: block!important
// }
// #iframeBody .button.btn-change-payment {
//     display: none!important
// }
// #iframeBody .button.btn-change-payment {
//     display: none!important
// }
// #iframeBody .summary .mobile-only {
//     display: block!important
// }
// #iframeBody .footerSummary.mobile-only {
//     display: none!important
// }
// #iframeBody .print-no,
// #iframeBody .btn-toggle-summary.print-no.mobile-only {
//     display: none!important
// }
